#main {
  display: flex;
  flex-wrap: wrap;
}

.food {
  width: 25%;
  height: 25vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.food:hover {
  background-color: var(--color-white) !important;
}

.accordion {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: left;
  transition: 0.4s;
}

.panel {
  display: none;
  overflow: hidden;
  width: 50vh;
  height: 50vh;
  background-color: var(--color-pink);
  margin-top: 25vh;
  
}
